
/***********************************************************************************************/
body, th, td, input, select, textarea, button {
font: 12px/1.5em Tahoma, Arial, Helvetica, snas-serif;
}


p {text-align:left;}
a{outline:none;text-decoration: none;}

.formtable { width: 100%; }
    .formtable caption { padding: 20px 0; color: #666; font-size: 12px; }
        .formtable caption h2 { padding-bottom: 8px; border-bottom: 1px solid #CCC; color: #333; font-size: 14px;text-align:left; }
        .formtable caption p { margin-top: 8px; }
    .formtable td, .formtable th { padding: 3px;text-align:left; }
    .formtable th { padding-right: 1em; text-align: right; }

ul.test{ margin: 10px 0; line-height: 21px;}
ul.test li{color: #666; list-style: inside disc;text-align:left;}
a.btntest:link{margin-right:10px; padding: 8px 14px; background:#693; color:#FFF; text-decoration:none; font-size:14px; border: 1px solid; border-top-color: #98bc7a; border-right-color: #305810; border-bottom-color: #203A0A; border-left-color: #72a44a; line-height:29px;}
a.btntest:hover{margin-right:10px; padding: 8px 14px; background:#7bdb2e; color:#FFF; text-decoration:none; font-size:14px; border: 1px solid; border-top-color: #B3EA87; border-right-color: #4E8A1D; border-bottom-color: #345C13; border-left-color: #97E35A; line-height:29px;}
a.btntest:visited{margin-right:10px; padding: 8px 14px; background:#693; color:#FFF; text-decoration:none; font-size:14px; border: 1px solid; border-top-color: #98bc7a; border-right-color: #305810; border-bottom-color: #203A0A; border-left-color: #72a44a; line-height:29px;}
dl{ margin: 10px 0 20px 0; line-height:21px; width:680px; overflow:hidden;}
dl dt{ font-size:18px; color:#663; font-family: "微软雅黑", "黑体"; margin-bottom:20px;text-align:left;}
dl dd{ display: block;float: left;margin:0px;}
dl dd a{ display:block;color:#333;  border:#6FC solid 1px;width:79px; background:#CFF; margin-right: 4px; padding:0.3em 0.5em; }
dl dd a:hover{text-decoration:none;background:#ececec;}
dl dd a.sel,dl dd a.sel:visited,dl dd a.sel:hover{background:#ececec;}

.testlist{font-family: 'Book Antiqua'; font-style:italic; margin-right: 0.3em; font-size: 48px; line-height: 1em; color:#FC9;}
.radrank{ color:#960; font-weight: bold; margin-left: 0.5em;}

