html,body{ margin:0; padding:0; background:#fff; border:0; font-size:10pt;font-family:'lucida grande',tahoma,helvetica,'Microsoft Yahei',"宋体",arial,'bitstream vera sans',sans-serif;}
html{}

.transparent_class {
 filter:alpha(opacity=70);
 -moz-opacity:0.7;
 -khtml-opacity: 0.7;
 opacity: 0.7;
}
a,img {border:0px;color:#06C;}
a:hover {color:#f09;}

#mask{ width:100%; height:100%; z-index:20015; top:0;left:0; background:#000; position:absolute;}

#uploaddiv{overflow:hidden; padding:15px; position:absolute; background:#fff; border:10px solid #ccc;z-index:20019; font-size:10pt;}
#uploaddiv { width: 425px; height:290px; }
#uploaddiv p{ margin:10px;}
#xuanyan{ width:400px; height:80px;}
#submitdo{ width:122px; margin-top:25px; height:38px; display:block; background:url(uploaddo.png);}
#submitdo:hover{ background:url(uploaddo_on.png);}
#colseupload{ position:absolute; left:430px; top:3px;}
#colseupload img { border:0;}
#uploaddiv i{ color:#666; font-style:normal; font-size:9pt;}

#logindiv {width:600px;height:435px; overflow:hidden;position:absolute; background:#fff; border:2px solid #000; z-index:20020; }
.logindiv_bottom { text-align:right; background:#eee;height:40px ;border-top:1px #ccc solid;}
a#btn_closelogin {
float:right;display:block;margin:5px;width:105px;height:28px; line-height:27px;
font-size:15px;text-align:center; background:#999;color:#fff; border:1px solid #ececec;text-decoration: none;
font-family:'lucida grande',tahoma,helvetica,'Microsoft Yahei',"宋体",arial,'bitstream vera sans',sans-serif;
}

#div_share {overflow:hidden; padding:15px; position:absolute; background:#fff; border:10px solid #ccc;z-index:20019; font-size:10pt;}
#div_share { width: 425px; height:200px; }
#div_share_msg {width:393px;height:75px;margin-top:5px;}
#div_share p{ margin:10px;}
#xuanyan{ width:400px; height:80px;}
#btn_share{ width:122px; margin-top:25px; height:38px; display:block; background:url(uploaddo.png);}
#btn_share:hover{ background:url(uploaddo_on.png);}
#colseshare{ position:absolute; left:430px; top:3px;}
#colseshare img { border:0;}


a#btn_closelogin:hover {border:#f09 1px solid; color:#f09;}


#topbg{ width:100%; height:61px; line-height:21px; background:#000; padding-top:0px;}
#topcon{width:830px; margin:auto;}
#logo {float:left;color:#f00;font-size:24px;font-family:'微软雅黑','黑体'; line-height:39px;width:200px;}
#logo b {font-weight:normal;}
#aboutfaner {float:right;text-align:right;font-size:12px;width:400px; margin-top:5px; line-height:21px; height:31px; color:#ddd; 
font-family:Tahoma, Geneva, sans-serif;}

#aboutfaner b{ font-family:Georgia, "Times New Roman", Times, serif; font-size:18px; color:#eee;}
#aboutfaner b#myscore {color:#99cc33;}
#aboutfaner b#mybyratecount {color:#f69;}
#aboutfaner b#mypiccount {color:#60c;}
#aboutfaner b#myratecount {color:#39c;}
#aboutfaner b#myratescore {color:#f93;}


#main{ width:965px; margin:30px auto; position:relative;}
#left{ width:194px; height:480px;  float:left;}
.first2{ background:url(leftbg2.png) no-repeat left 35px; height:450px;text-align:center;}
.first3{ background:url(leftbg3.png) no-repeat left 35px;text-align:center;}
.first4{ background:url(leftbg.gif) no-repeat left 75px;}

.first img{ border:0;}
.first a{ position:relative; top:420px;}
#left #j{ width:117px; height:59px; background:url(j.png); position:absolute; left:145px; top:178px;z-index:19999;}
#loginbtn{position:absolute; left:5px; top:388px;}

#content{ width:552px; height:100%; float:left; border:10px solid #000; position:relative;}
#right{ width:195px; height:610px; background:url(rightbg.gif) no-repeat left 70px;float:left;}
#bottom{ }

#scorediv{ height:61px; width:100%;}
#scorediv a{ float:left;}
#jiong{ width:92px; height:100%; background:url(jiong.png)}
.scorenum{ width:36px; height:60px; background:url(ratings.png); border-bottom:1px solid #CCBFBF; border-right:1px solid #ED9900;}
#shuai{width:90px; height:100%; }
a.f{background:url(liang.png) no-repeat;}
a.m{background:url(shuai.png) no-repeat;}

#s2{ background-position-y:-60px}
#s3{ background-position-y:-120px}
#s4{ background-position-y:-180px}
#s5{ background-position-y:-240px}
#s6{ background-position-y:-300px}
#s7{ background-position-y:-360px}
#s8{ background-position-y:-420px}
#s9{ background-position-y:-480px}
#s10{ background-position-y:-540px}

#s1:hover{ background-position-y:-600px}
#s2:hover{ background-position-y:-660px}
#s3:hover{ background-position-y:-720px}
#s4:hover{ background-position-y:-780px}
#s5:hover{ background-position-y:-840px}
#s6:hover{ background-position-y:-900px}
#s7:hover{ background-position-y:-960px}
#s8:hover{ background-position-y:-1020px}
#s9:hover{ background-position-y:-1080px}
#s10:hover{ background-position-y:-1140px}

#filterdiv {margin:3px 5px;background:#ececec;padding:3px 10px;}
#photodiv{ width:512px; height:480px;overflow:hidden; margin:10px auto 0; background1:#eee; border-bottom:2px solid #EDEDED; position:relative; text-align:center;}

#photobtn{ height:35px; line-height:35px; color:#0066CC; width:512px; margin:10px auto 0; }
#photobtn a{color:#06c;}
#blackdiv{clear:both; height:44px; background:#000; width:100%; margin-top:20px;}

#nextimgdiv{ width:144px; height:144px; overflow:hidden; margin:90px 0 0 29px;}
#nextflag{ width:144px; height:50px; position:absolute; margin-top:94px;background:url(next.png);cursor:pointer;}
#nextimg{ height:144px;} 

#preimgdiv{width:144px; height:144px; overflow:hidden; margin:95px 0 0 20px;}
#preimg{ height:144px;} 
#preflag{ width:144px; height:50px; line-height:50px; color:#fff; font-size:22pt; font-family:Tahoma; font-weight:bold; position:absolute; margin-top:94px;background:url(prescbg.png); text-align:center} 
#preintr{ color:#666; font-size:9pt; text-align:center; font-family:Tahoma, Geneva, sans-serif; margin-top:20px;}


#uploadbtn,#uploadbtn2{ width:122px; height:38px; position:absolute; background:url(upload.png); top:338px; left:36px;}
#uploadbtn:hover,#uploadbtn2:hover{ background:url(upload_on.png);}
#uploadbtn2 {top:450px;left:32px;}

#msglist{ width:150px; height:255px; overflow:hidden; margin:43px 0 0 27px; font-size:9pt;}
#msglist p{ margin:0; padding:0; line-height:15px; margin-bottom:1px;height:31px;overflow:hidden;}
#msglist i{ font-size:7pt; font-family:Tahoma, Geneva, sans-serif; color:#666; font-style:normal;}
#msglist a{ color:#0066cc}


#footer {
	background: #FC0;
	margin-top:20px;padding-left:30px;
	height:40px; line-height:39px;
}
#footer a{ padding-right:2em;}

#copyright {
	background: black;
	height: 88px; 
	text-align:center;
	color:#ccc;
	line-height: 90px;
}
#copyright img {border:0px;}

a#notice_share {width:106px; height:100px; position:absolute; background:url(notice_share.png) 0 0 no-repeat; top:98px; left:444px;z-index:19998;}
a#notice_share:hover{ background:url(notice_share.png) 0 -100px no-repeat;}

a#notice_rate {width:205px; height:157px; position:absolute; background:url(notice_rate.png) -203px 0 no-repeat; top:36px; left:352px;z-index:19999;}
a#notice_rate.notice_rate_over,a#notice_rate:hover{ background:url(notice_rate.png)  -1px 0 no-repeat;}

